<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="it.uniroma2.gqm"/>

    <!-- Add new DAOs here -->

    
    <!-- Add new Managers here -->
	<bean id="unitManager" class="org.appfuse.service.impl.GenericManagerImpl">     
	    <constructor-arg>         
	        <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">             
	            <constructor-arg value="it.uniroma2.gqm.model.Unit"/>         
	        </bean>     
	    </constructor-arg> 
	</bean>
	<bean id="scaleManager" class="org.appfuse.service.impl.GenericManagerImpl">     
	    <constructor-arg>         
	        <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">             
	            <constructor-arg value="it.uniroma2.gqm.model.Scale"/>         
	        </bean>     
	    </constructor-arg> 
	</bean>
	<bean id="satisfyingConditionTargetManager" class="org.appfuse.service.impl.GenericManagerImpl">     
	    <constructor-arg>         
	        <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">             
	            <constructor-arg value="it.uniroma2.gqm.model.SatisfyingConditionTarget"/>         
	        </bean>     
	    </constructor-arg> 
	</bean>
	<!-- 
	<bean id="measurementManager" class="org.appfuse.service.impl.GenericManagerImpl">     
	    <constructor-arg>         
	        <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">             
	            <constructor-arg value="it.uniroma2.gqm.model.Measurement"/>         
	        </bean>     
	    </constructor-arg> 
	</bean>
	 -->	    
</beans>